// Break point for smart phone
@mixin sm-breakpoint {
	@media only screen and (max-width: 620px) {
		.container {
			margin: 2rem 0;
			padding: 0 2rem;
		}

		.card-grid {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}

		.card {
			&__1 {
				grid-column: initial;
				grid-row: initial;
			}
			&__2 {
				grid-column: initial;
				grid-row: initial;
			}
			&__3 {
				grid-column: initial;
				grid-row: initial;
			}
			&__4 {
				grid-column: initial;
				grid-row: initial;
			}
			&__5 {
				grid-column: initial;
				grid-row: initial;
			}
		}
	}
}

// Breakpoint for tablet
@mixin md-breakpoint {
	@media only screen and (max-width: 1170px) {
		.container {
			margin: 5rem 0;
		}
		.center-page {
			height: auto;
		}

		.card-grid {
			width: auto;
			grid-template-columns: repeat(2, 1fr);
		}

		.card {
			justify-content: center;

			&__1 {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&__2 {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&__3 {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 3;
				grid-row-end: 4;
			}
			&__4 {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 4;
				grid-row-end: 5;
			}
			&__5 {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 4;
			}
		}
	}
}
